.group{
    background-color: #F9FAFC;
    display: flex;
    height: 4rem;
    position: relative;
    width: 100%;
    justify-content: end;
    border-bottom: 0.1rem solid rgba(169, 169, 169, 0.6);
}

.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 7rem !important;
}

.avatar-img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #000;
    float: right;
}