.container-charts {
    background-color: #111827;
    /* background-color: #fff;*/
    margin-top: 3rem;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid rgba(169, 169, 169, 0.6);
}

.container-charts2 {
    background-color: #111827;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem;
    height: 27rem;
}

.container-charts3 {
    background-color: #111827;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem;
    height: 27rem;
}

/*#1BC47D*/

.line {
    height: 0.1rem;
    width: 100%;
    background-color: rgba(169, 169, 169, 0.6);

}

.page {
    width: 100%;
    padding: 2.5rem;
}

.skeleton {
    opacity: 5;
    animation: skeleton-loading 2s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}