@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body::-webkit-scrollbar {
  width: 1px;
  /* width of the entire scrollbar */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h2, h1 {
  /*color: #EDF2F7;*/
  color: #000;
  margin-top: 4rem;
}

.container {
  display: flex;
}

.side-bar.rigth {
  display: flex;
  flex-direction: column;
  margin-left: 17rem;
  width: 100%;
  /* background-color: #0B0F19;*/
  background-color: #F9FAFC;
  height: 100vh;
}

.botoes {
  display: flex;
  flex-direction: row;
  width: 13rem;
  justify-content: space-around;
}

.css-a8igs1-MuiButtonBase-root-MuiFab-root:first-child {
  background-color: rgb(102, 187, 10);
}

.css-a8igs1-MuiButtonBase-root-MuiFab-root:first-child:hover {
  background-color: rgba(102, 187, 10, 0.5);
}

.css-a8igs1-MuiButtonBase-root-MuiFab-root:nth-child(2) {
  background-color: rgb(66, 165, 245);
}

.css-a8igs1-MuiButtonBase-root-MuiFab-root:nth-child(2):hover {
  background-color: rgba(66, 165, 245, 0.5);
}

.css-a8igs1-MuiButtonBase-root-MuiFab-root:last-child {
  background-color: rgb(244, 67, 80);
}

.css-a8igs1-MuiButtonBase-root-MuiFab-root:last-child:hover {
  background-color: rgba(244, 67, 80, 0.5);
}

.btn-msg {
  display: none;
}

.css-a8igs1-MuiButtonBase-root-MuiFab-root:hover .btn-msg {
  border: 1px solid #EDF2F7;
  display: block;
  position: fixed;
  margin-top: 6.5rem;
  font-size: 8;
  width: 15rem;
  background-color: #fff;
  border-radius: 5px;
}